<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- https://html.spec.whatwg.org/multipage/xhtml.html#the-xhtml-syntax -->
<!-- https://html.spec.whatwg.org/multipage/introduction.html#html-vs-xhtml -->
<!-- vimdiff <(tidy -quiet -wrap 100 -indent boilerplate-react.html) boilerplate-react.html -->
<!-- tidy -quiet -wrap 100 -indent boilerplate-react.html | sponge boilerplate-react.html -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element -->
<head>
  <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <title>boilerplate</title>
  <!-- https://reactjs.org/docs/cdn-links.html -->
  <script crossorigin="true" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin="true" src=
  "https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <!-- https://reactjs.org/docs/add-react-to-a-website.html -->
  <!-- https://raw.githubusercontent.com/reactjs/reactjs.org/master/static/html/single-file-example.html -->
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <!-- https://github.com/mui-org/material-ui/blob/master/examples/cdn/index.html -->
  <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js"></script>
  <style>
  /*  <![CDATA[ */
  /* nothing here ... */
  /* ]]> */
  </style>
  <script type="application/javascript">
  //  <![CDATA[
  //  ]]>
  </script>
</head>
<body>
  <div id="root"></div>
  <script type="text/babel">
  //  <![CDATA[

  const {
    colors,
    CssBaseline,
    ThemeProvider,
    Typography,
    Container,
    makeStyles,
    createMuiTheme,
    Box,
    SvgIcon,
    Link,
    AppBar,
    Tabs,
    Tab,
    PropTypes,
    Grid,
  } = MaterialUI;

  // Create a theme instance.
  const theme = createMuiTheme({
    palette: {
      primary: {
        main: '#556cd6',
      },
      secondary: {
        main: '#19857b',
      },
      error: {
        main: colors.red.A400,
      },
      background: {
        default: '#fff',
      },
    },
  });

  function TabPanel(props) {
    const { children, value, index, ...other } = props;

    return (
      <div
        role="tabpanel"
        hidden={value !== index}
        id={`simple-tabpanel-${index}`}
        {...other}
      >
        {value === index && (
          <Box p={3}>
            <Typography>{children}</Typography>
          </Box>
        )}
      </div>
    );
  }

  function SimpleTabs() {
    const [value, setValue] = React.useState(0);

    const handleChange = (event, newValue) => {
      setValue(newValue);
    };

    return (
      <div>
        <AppBar position="static">
          <Tabs value={value} onChange={handleChange}>
            <Tab label="Item One" />
            <Tab label="Item Two" />
          </Tabs>
        </AppBar>
        <TabPanel value={value} index={0}>
          <Grid container spacing={3}>
            <Grid item xs={6}>
              X1
            </Grid>
            <Grid item xs={6}>
              X2
            </Grid>
            <Grid item xs={6}>
              Y1
            </Grid>
            <Grid item xs={6}>
              Y2
            </Grid>
          </Grid>
        </TabPanel>
        <TabPanel value={value} index={1}>
          Item Two
        </TabPanel>

      </div>
    );
  }

  function App() {
    return (
      <Container maxWidth="sm">
        <div style={{ marginTop: 24, }}>
          <SimpleTabs/>
        </div>
      </Container>
    );
  }

  ReactDOM.render(
    <ThemeProvider theme={theme}>
      <CssBaseline />
      <App />
    </ThemeProvider>,
    document.querySelector('#root'),
  );
  //  ]]>
  </script>
</body>
</html>
